// Specific CSS for your home-pag
.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1{
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 100px;
}


.container-header {
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 1300px;
  margin: 50px auto 20px auto;
}

// .container-search-bar {
//   display: flex;
//   justify-content: flex-end;
// }

.container-bannertop {
  text-align: center;
}

.container-bannertop > button {
  font-size: 22px;
}

.container-header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 30px;
}


#category {
  justify-content: center;
  background-color: #054042;
  margin: 20px 10px;
  width: 196px;
  color: white;
  border: 1px solid #144C52;
  padding: 3px;
  display: inline-block;
  border-radius : 5px;
  height: 40px;
}


.algolia-places {
 width: 350px;
 margin-left: 20px;
 margin-bottom: 25px;
 margin-top: 25px;

}

.search-bar-index {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: -5px;
  padding-right: 0px;
  padding-left: 0px;
}

.ap-input-icon svg {
  fill: #054042;
}

.banner-custom {
  background-image: url('https://res.cloudinary.com/patti01/image/upload/v1560156374/govo/patterngradient22_kq5zit.svg');
  background-size: cover;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-position: center center;
  background-color: white;

}

.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.banner-custom {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

#home-svg {
  width: 100%;
  height: 100vh;
  position: absolute;
}

#home-svg mask rect {
  fill: white;
}

#home-svg > rect {
  fill: white;
  -webkit-mask: url(#mask);
  mask: url(#mask);
}


video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


