.container-form {
  display: flex;
  justify-content:center;
}


.newproject-img {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url(https://images.fastcompany.net/image/upload/w_1153,ar_16:9,c_fill,g_auto,f_auto,q_auto,fl_lossy/wp-cms/uploads/2017/12/p-1-huffpost-editor-steps-down-to-launch-a-new-york-centric-nonprofit-news-project.jpg);
  background-size: cover !important;
  height: 90vh;
}


.form-newproject{
  width: 700px;
  margin: 50px auto;
  background: white;
  padding: 10px 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    margin-bottom: 30px;
    text-align: center;
  }
  input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  }
  input[type=text] {
  width: 100%;
  display: block;
  }
  input[type=number] {
  width: 100%;
  display: block;
  }
  input[type=tel] {
  width: 100%;
  display: block;
  }
  input[type=email] {
  width: 100%;
  display: block;
  }

  textarea {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  }

  input[type=password] {
  width: 100%;
  display: block;
  }

  #description {
  width: 100%;
  display: block;
  }

  .btn-primary {
    width: 100%;
    margin-bottom: 20px
  }
}

// #category {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
//   margin: 20px 0;
// }

// #category {
//   background: #b7b7b7;
//   padding: 20px;
//   border-radius: 5px;
//   opacity: .4;
//   flex: 0 0 30%;
//   text-align: center;
//   &:hover {
//     opacity: 1;
//     cursor: pointer;
//   }
//   &.active {
//   background: #144C52;
//   color: white;
//   opacity: 1;
//   }
// }
