<div class="map-img" style="position: relative">
  <%= cl_image_tag project.photo, :width => '100%' %>
  <div class="caption"><%= project.charity.name %></div>
</div>
<br>
<div class="mapwindow-details">
  <h4><strong><%= project.name %></strong></h4>
</div>
<br>
<div class="mapwindow-link">
  <button class="btn btn-primary btn-sm">
    <%= link_to 'Plus de détails', project_path(project) %>
  </button>
</div>

