<!--
<div class="video-header2 wrap">
  <div class = "fullscreen-video-wrap">
    <video autoplay playsinline muted loop preload>
      <source src="https://res.cloudinary.com/wayne75/video/upload/v1560266466/Pexels_Videos_1510092_njsxtv.mp4">
    </video>
  </div> -->

    <div class="main-container" style="min-height: 100vh;">
      <div class="header1">
       <br> <center><h1>ROLL WITH IT 😎</h1></center>
      </div>

        <div class="shake-slow">
        <img src="http://clipartmag.com/images/volunteer-clipart-black-and-white-6.jpg" width="25%"alt="">
        </div>

        <div class="mega">
        <img src="https://res.cloudinary.com/wayne75/image/upload/v1560413610/megaphone_1_jvnbih.png" width="70%"alt="">
        </div>

      <div class="bull-bar-container">
        <a id="bull-bar">
          <p>- - - - -</p>
        </a>
      </div>
      <br><br>

      <div class="spinner">
      <%= image_tag "https://res.cloudinary.com/wayne75/image/upload/v1560268491/bike_ygixlt.png", id:"spinner-img" %>
      <h1 id="btn-spinner" data-project="<%= @projects.to_json %>">
      </h1>
      </div>

<!--     </div> -->
    <br>
    <br>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="d-none" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <a class="link" href="">
      <div class="modal-dialog" role="document">
        <div class="modal-content1">
          <div class="modal-body1">
            ...
          </div>
        </div>
        <div class="modal-footer1" height="50px">
          VOIR LA MISSION
        </div>
      </div>
    </a>
           <center> <button type="button" class="btn btn-secondary" data-dismiss="modal"></button> </center>

    </div>
    <!-- SPIN SCRIPT -->
    <script>
      // random degree function (n = number of spins)
      const randomExtraSpins = n => Math.random()*n*360;

      // initialize degrees
      const minSpinDegrees = 5 * 360; // 5 spins minimum!
      let degreeSpinSum = normalize(minSpinDegrees + randomExtraSpins(3)); // 3 extra spins max!

      // initialize DOM objects
      const button = document.getElementById("btn-spinner");
      const spinner = document.getElementById("spinner-img");
      const bullbar = document.getElementById("bull-bar");

      // ON BUTTON CLICK -> SPIN THE WHEEL!
      button.addEventListener('click', (event) => {
        console.log("DEGREE SPIN SUM");
        console.log(degreeSpinSum);
        // reset
        bullbar.setAttribute("style", "border: none;");
        spinner.innerHTML = "";
        bullbar.innerHTML = "- - - - -";
        // calculate spinner degrees and spin! (transformation)
        degreeSpinSum += normalize(minSpinDegrees + randomExtraSpins(3));
        const selectedBezier = selectBezier();
        console.log(selectedBezier);
        let buildStyle = `transform: rotate(${degreeSpinSum}deg); transition-timing-function: ${selectedBezier}`;
        spinner.setAttribute("style", buildStyle);
      });

      // ADD EVENTLISTENERS FOR "transitioned" event! (loop over all types of transitioned)


      const modal = document.querySelector(".modal-body1");

      "transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd".split(" ").forEach((event) => {
        spinner.addEventListener(event, () => { // webkitTransitionEnd oTransitionEnd MSTransitionEnd"
          modal.innerHTML = `${bullName()}`;
          modal.setAttribute("style", "border: 0px solid ; transition: ease 0.25s;");
          button.innerHTML = "";
        document.querySelector('button[data-target="#exampleModal"]').click()
        });
      })

      /*
       * SELECT BEZIER
       * randomly picks one predefined bezier transition function
       * resources used: https://codepen.io/Guilh/full/ZQxoOX/
       */
      function selectBezier() {
        let sampleArray = [
          "cubic-bezier(0.6, 1.5, 0.6, 1)",
          "cubic-bezier(.1, .9, .9, .1)",
          "cubic-bezier(0.68, -0.55, 0.265, 1.55)",
          "cubic-bezier(0.25, 0. 1, 0.25, 1)"
        ];
        return sampleArray[Math.floor(Math.random() * sampleArray.length)];
      }

      /*
       * NORMALIZE
       * lets the wheel stop at certain splitpoints (determined by nbrOfSplitpoints!)
       */
      function normalize(input) {
        const nbrOdSplitpoints = 8;
        const interval = 360 / nbrOdSplitpoints;
        return Math.floor(input/interval)*interval;
      }

    </script>

    <script>


      const nouns = [
        "THIS MISSION WOULD BE PERFECT",

      ];

      const capitalize = (string) => {
        return string[0].toUpperCase() + string.substring(1)
      };

      const bullName = () => {
        // const seedNoun = Math.floor(Math.random() * nouns.length);
        // return capitalize(nouns[seedNoun]);
        // const charities = document.getElementById("btn-spinner").dataset.charity
        // console.log(charities);
        const result = JSON.parse(document.getElementById("btn-spinner").dataset.project)[Math.floor(Math.random() * 9) + 1  ];
        const name = result.name.toUpperCase()
        const url = result.url
        document.querySelector('.link').href = url
        return `<a href=${url}>${name}</a>`;
      };

    </script>


