.btn-primary {
  background-color: #144C52;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #B93A07;
  border-color: #B93A07;
}


.btn-primary btn-lg {
  background-color: #144C52;
  border-radius: 5px;
}

.btn-primary btn-lg :hover {
  background-color: #B93A07;
  border-color: #B93A07;
}


.btn-primary btn-sm {
  background-color: #144C52;
  border-radius: 5px;
}

.btn-primary btn-sm :hover {
  background-color: #B93A07;
  border-color: #B93A07;
}

.btn-primary btn-lg btn-block {
  background-color: #144C52;
  border-radius: 5px;
}

.btn-primary btn-lg btn-block :hover {
  background-color: #B93A07;
  border-color: #B93A07;
}

