.container-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  max-width: 1300px;
  margin: 0 auto 50px auto;
}

.card {
    display: flex;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    align-items: stretch;
    position: relative;
    min-height: 500px;
}

.fa-map-marker-alt:before {
    padding-right: 5px;
}

.card-img-project {
    width: 100%;
    height: 273px;
    background-size: cover;
    object-fit: cover;
    transform-origin: top center;
    vertical-align: middle;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .container-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.container-cards-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-width: 1300px;
  margin: 0 auto 50px auto;
}


