.footer {
  background: #3c4859;
  justify-content: space-around;
  height: 100px;
  padding: 0px 50px;
  color: white;
  // position: fixed;
  // bottom: 0;
  // width: 100%;
}
.footer-links {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: black;
}
.footer-links a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: white;
}

.footer-copyright{
  margin-top: 20px;
}

