.mapboxgl-marker g {
  fill: #3c4859;
}

.caption {
  position: absolute;
  bottom: 0;
  /* left: 7px; */
  background: #144C52;
  color: white;
  padding: 0px 4px;
  width: 100%;
  text-align: center;
}

.mapboxgl-popup-close-button {
  z-index: 10;
}


