body {
  background-color:white;
}

a{
    color: black;
    text-decoration: none !important;
  }
  a:hover {
    color: #3f3f3f;
    text-decoration: none !important;
  }

.navbar-gang {
  justify-content: space-between;
  background-color: transparent;
  abbr{
  display:none;
  }
  .form-inline {
    margin-right:700px;
  }
}

.navbar {
    padding: 5px 10px !important;
}

.navbar-brand {
  padding-bottom: 0rem !important;
}

.container-button{
  display: flex;
}
.navbar-gang .navbar-collapse {
  flex-grow: 0;
}

.navbar-gang .navbar-brand img {
  width: 80px;
}
.search-form-control{
  display: flex;
  width: 100px;
}

.nav-item{
  margin-right:10px;
  list-style: none;
}

.navbar-link {
  justify-content: center;
  background-color: #144C52;
  text-decoration: none;
  margin: 0 auto;
  margin-top:5px;
  width:100px;
  color: white;
  border: 1px solid #144C52;
  &:hover{
    background-color:white;
    border: 1px solid #144C52;
    text-decoration: none;
  }
}

.nav-button {
  display: flex;
  justify-content: center;
}


.logo {
  width: 80px;
}
.btnsignsm{
  margin-right:10px;
  background-color:#3c4859;
  padding: 7px;
  color: white;
  border-radius: 28px;
  width:160px;
  text-align:center;
  font-size: 14px;
  margin-left: 40px;
  &:hover{
    background-color: white;
    color: #3c4859;
    border: 1px solid #3c4859;
    text-decoration: none;
  }
  a {
    color: white;
  }
}

.btnsignsm-asso {
  background-color:#3c4859;
  border-color: #3c4859;
  border: transparent;
  padding: 7px;
  border-radius: 4px;
  width: 100%;
  text-align:center;
  font-size: 14px;
  color: white;
  a {
    text-decoration: none;
    color: white;
  }
}

.btnsignsm-asso:hover {
  background-color: white;
  color: #3c4859;
  border-color: #3c4859;
  a {
    color: #3c4859;
  }
}

#navbar-menu {
  display: flex;
  align-items: center;
}

.navbar {
  z-index: 100;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .navbar-toggler {
    background-color: white;
  }
  .container-button {
    align-items: center;
  .btnsignsm{
    width: 100px;
  }}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .navbar-toggler {
    background-color: white;
  }
}

