
.card-btn-search {
  color: #144C52;
  padding-left:20px;
  margin: 25px 10px;
  width: 100px;
  justify-content: center;
  background-color: white;
  color: #144C52;
  border: 1px solid #144C52;
  padding: 8px;
  display: inline-block;
  border-radius: 5px;
}

.search-bar-index {
  margin-left: -25px;
}

.card-btn-search:hover {
  color: white;
  background-color: #144C52;
}
