/*-------- BULLBAR --------*/
.bull-bar-container {
  height: 15%;              /* adjust percentage */
  /*border: 5px solid blue;*/
  display: flex;
  color:white;
}

.img1{
  position: absolute;
  margin-top: 340px;
  margin-left: 90px;
}
#bull-bar {
  background-color: #ffd35c;
  border-radius: 30px;
  padding: 8px;
  font-family: Staatliches;
  font-size: 26px;
  text-align: center;
  width: 50%;               /* adjust textfield length */
  max-width: 400px;
  height: 30%;
  margin-left: auto;
  margin-right:  auto;
  margin-top:30px;
  margin-bottom: auto;
  // box-shadow: 0 0 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  a{
    color:white;
  }
}
#bull-bar > p {
  color: none;/*#2C2C2C;*/
}


/*-------- HEADER ---------*/
.header {
  /*border: 5px solid green;*/
}
.header > a {
  /*border: 5px solid lightgreen;*/
  height: 13%;              /* adjust percentage */
  display: flex;
  justify-content: center;
}
#logo-img {
  width: 40%;               /* resize "BULL PITCH" font logo */
  min-width: 150px;
  margin-top: 23px;
}


/*-------- SPINNER --------*/
.spinner {
  /*border: 5px solid red;*/
  height: 70%;              /* adjust percentage */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#spinner-img {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  transition: transform 5s;
}
#btn-spinner {
  font-size: 27px;
  letter-spacing: 4px;
  font-family: 'Bungee', cursive;
  background-color: none;
  color: none;
  width: 148px;   /* alans design (will be overriden) */
  height: 148px;  /* alans design (will be overriden) */
  width: 38vw;    /* width as percentage of viewport WIDTH */
  height: 38vw;   /* height as percentage of viewport WIDTH */
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
  text-align: center;
  border-radius: 20%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-spinner h1:active {
}

.main-container{
  background-color:transparent;
    margin: 0 auto;

}


/*
@media (max-width: 900px) and (orientation:landscape) {
  .spinner {
  }
  #spinner-img {
    width: auto;
    height: 100%;
  }
  #btn-spinner {
    max-width: 100px;
    max-height: 100px;
  }
}
*/
