// .hidemap {
//   width: 0% !important;
//   transition: 1s ease;
// }

#map {
  flex-grow: 1;
  width: 0%;
  height: 600px;
  position: sticky;
  top: 0;
  margin-top: 20px;
}

// .showmap {
//   width: 40%;
//   transition: 1s ease;
// }

// .container-cards-2 {
//   flex-grow: 1;
// }
