.hidemap {
  width: 0% !important;
  transition: 1s ease;
}

.large {
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  transition: 1s ease;
}

#map {
  width: 40%;
}

.showmap {
  width: 40%;
  transition: 1s ease;
}

.container-cards-2 {
  flex-grow: 1;
}
