

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
  <div class="form-home">
    <div class="container-home">


add cards here

      <button class="btn btn-primary" type="submit">Button</button>
<div class="bg-white">


<!-- All Mission -->


<div class="container container-header">
 <!--  searchbar -->
  </div>

    <div class="container bg-white">
      <div class="container-ind">
        <% @missions.each do |mission| %>
        <%= link_to mission_path(mission) do%>
        <div class="card-result">
        <div class="inner-div" style="background: url(https://www.foundationlist.org/wp-content/uploads/2015/03/Nonprofit-Image.jpg) center">
        </div>
      </div>

    <div class="infos-card-ind">
      <h3 class="mission-title"><strong><%= mission.title %></strong></h3>
    </div>
      <h4 class="association-name"><%= "asso name" %></h4>
    <%end%>
  <%end%>
</div>
</div>
</div>





    </div>
  </div>
</div>
