<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
  <div class="form-home">
    <div class="container-home">
      <%= form_tag(all_artworks_path, method: "get") do %>
           <h1>Don't watch, act !</h1>
        <%#= label_tag(:address, "Where") %>
        <div class ="search-bar-index">
        <%= text_field_tag(:address) %>
        <%#= select_tag(:art_type, options_for_select(Artwork::ARTTYPE)) %>
        <%= submit_tag "Search", class: "card-btn-search" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
