


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
  <div class="container-bannertop">
    <h1> Don't watch, act!</h1>
    <button class="btn btn-primary" href="#">Choose your mission now</button>
  </div>
</div>

<div class="container container-header">
  <div class="section-title">
    <h4 id="section-title"><i class="fas fa-arrow-circle-down"></i>Latest missions</h4>
  </div>
  <div class="container-header-button">
    <button class="btn btn-primary" href="#">View all</button>
  </div>
</div>


<div class="container-cards">
  <div class="card">
    <div class="card-img-mission" style="background-image: url(https://diabetestimes.co.uk/wp-content/uploads/2015/09/refugee-1024x768.jpg)"></div>
    <div class="card-body">
      <h5 class="mission-title"><strong> Mission Titel</strong></h5>
      <h3 class="association-name">Association name</h5>
      <p class="card-text"><i class="fas fa-map-marker-alt"></i>Localization - 75011, Paris</p>
      <button class="btn btn-primary btn-sm">More details</button>
    </div>
  </div>

  <div class="card">
   <div class="card-img-mission" style="background-image: url(https://www.foundationlist.org/wp-content/uploads/2015/03/Nonprofit-Image.jpg)"></div>
  <div class="card-body">
    <h5 class="mission-title"><strong> Mission Titel</strong></h5>
    <h3 class="association-name">Association name</h5>
    <p class="card-text"><i class="fas fa-map-marker-alt"></i>Localization - 75011, Paris</p>
    <button class="btn btn-primary btn-sm">More details</button>
  </div>
</div>

<div class="card">
   <div class="card-img-mission" style="background-image: url(https://assets.nationalnewswatch.com/wp-content/uploads/2016/07/CKL212349972.jpg)"></div>
  <div class="card-body">
    <h5 class="mission-title"><strong> Mission Titel</strong></h5>
    <h3 class="association-name">Association name</h5>
    <p class="card-text"><i class="fas fa-map-marker-alt"></i>Localization - 75011, Paris</p>
    <button class="btn btn-primary btn-sm">More details</button>
  </div>
</div>

</div>

