<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(https://2.bp.blogspot.com/-tXKI8DU4_QE/V_Kzh1Bx5jI/AAAAAAAAAoA/vCycQdtr4QASYbnqCoDw0zHi7T0tCh5tQCEw/s1600/w%25C5%2582a%25C5%259Bciwe.jpg);">

  <div class="form-home">
    <div class="container-home">
          <h1>DON'T WATCH, ACT!</h1>
        <br>
          <a href="#" class="cta-home">
            <span>Load more</span>
              <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
          </a>

    </div>
  </div>
</div>
