<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1421977870504-378093748ae6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="card" id="mission-description">
          <h3>La mission</h3>
          <p>DESCRIPTION Dans le cadre du développement de sa communication, la Protection Civile Paris Seine recherche des bénévoles ayant des compétences de niveau professionnel en création de site web afin de pouvoir développer les sites internet de ses antennes et son cloud. Il est possible de s'engager pour une mission en particulier ou sur le long terme en diversifiant les productions ! Le rythme est selon vos contraintes perso et pro.</p>
        </div>
      </div>

      <div class="col-lg-2">
      </div>

      <div class="col-lg-4">
        <div class="card" id="mission-booking">
          <h3>Webmaster confirmé</h3>
          <p>Association: <strong>Le Carillon</strong></p>
          <p>Adresse(picto)</p>
          <p>Dates</p>
          <a href="#" class="cta">
          <span>Participer</span>
          <svg width="13px" height="10px" viewBox="0 0 13 10">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="more-info">
  <div class="container">
    <div class="row">
        <div class="col-lg-8">
          <div class="card" id="mission-more">
            <h3>Plus d'infos</h3>
            <p>DESCRIPTION Dans le cadre du développement de sa communication, la Protection Civile Paris Seine recherche des bénévoles ayant des compétences de niveau professionnel en création de site web afin de pouvoir développer les sites internet de ses antennes et son cloud. Il est possible de s'engager pour une mission en particulier ou sur le long terme en diversifiant les productions ! Le rythme est selon vos contraintes perso et pro.</p>
          </div>
        </div>
    </div>
  </div>
</div>
